@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,200&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-slide > div {
  margin: 0 5px;
}
.slick-slide > div:nth-child(1) {
  margin-left: 0;
}
.slick-list {
  margin-right: -30px;
}
body {
  overflow-x: hidden;
}
@layer base {
  html {
    scroll-behavior: smooth;
  }
}
@layer components {
  input,
  textarea {
    @apply w-full resize-none bg-transparent outline-none border-b-2 focus:text-primary scrollbar-track-slate-400 duration-1000 transition-all p-2 rounded-md border-white;
  }
}

/* @layer components {
  .navBar > li {
    @apply border-b-2 mr-5;
  }

  .lgScreenNav > li>a {
    @apply hover:text-yellow-600
  }
  .contactInput {
    @apply outline-none mx-auto bg-slate-400/10 rounded-sm border-b pl-6 py-2 text-gray-500 placeholder-gray-500 border-[#242424] transition-all focus:border-yellow-500/40 focus:text-yellow-500/40 hover:border-yellow-500/40;
  }
  .focused{
    @apply text-yellow-500
  }
} */
